<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <title>Page d’administration</title>
    <link rel="stylesheet" href="../css/style.css" />
  </head>
  <body>
    <h1>Bienvenue, sur la page d’administration!</h1>
    <h2>Chercher pour des details des utilisateurs :</h2>

    <search>
      <form class="admin" action="/admin" method="GET">
        <input
          name="usersrch"
          id="usersrch"
          placeholder="Chercher un utilisateur"
        />
        <button type="submit" value="Submit">Chercher</button>
      </form>
    </search>

    <button class="admin">
      <a href="./details">Voire mes details entant qu'admin</a>
    </button>
    <button class="admin"><a href="./home">Se déconnecter</a></button>
  </body>
</html>
