<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <title>Détails de l'utilisateur</title>
    <link rel="stylesheet" href="../css/style.css" />
  </head>
  <body>
    <h1>Bienvenue, <%= user.username %>!</h1>
    <p>Voici vos détails :</p>
    <ul>
      <li>Nom d'utilisateur: <%= user.username %></li>
      <li>ID: <%= user.id %></li>
      <li>Mot de passe: (non visible pour la sécurité)</li>
    </ul>

    <a href="./home">Se déconnecter</a>
    <a href="./logout">logout</a>
  </body>
</html>
