<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/style.css" />
    <title>Login</title>
  </head>
  <body>
    <h1>Login</h1>
    <div class="login">
      <h2>Bonjour! <%= name %>, Vous pouvez vous connecter ici</h2>

      <form id="loginForm">
        <h2>Écrivez votre nom d'utilisateur ici</h2>
        <div class="name">
          <input
            placeholder="Nom d'utilisateur"
            type="text"
            id="username"
            name="username"
            required
          />
        </div>

        <h2>Écrivez votre mot de passe ici</h2>
        <div class="password">
          <input
            placeholder="Mot de passe"
            type="password"
            id="password"
            name="password"
            required
          />
        </div>

        <input type="submit" value="Se connecter" />
      </form>
    </div>

    <p class="login">
      Vous voulez vous inscrire ? <a href="/registration">S'inscrire</a>
    </p>
  </body>
</html>
